header{
    text-align: center;
    /* border: 5px solid black; */
}

.form{
    line-height: 30px;
}

#heading, h5{
    text-align: center;
}

body{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: white;
    /* font-family: 'Poiret One', cursive;
    font-weight: bold; */
}

.info{
    border:5px solid #999999;
  color:#6f6f6f;
  font-size:10px;
  width:100%;
  position: relative;
  display: inline-block;
  height: auto;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    text-align: center;
  }
